{% extends 'orders/base.html' %}
{% load static %}
<!-- Title -->
{% block title %} Checkout {% endblock %}

{% block headJS %} {% endblock %}

{% block leftnav %}

{% if user.is_authenticated %}

<ul class="navbar-nav mx-auto">
  <li class="nav-item">
    <a class="nav-item nav-link" href="{% url 'cart' %}">Cart ({{ cart_count }})<span
        class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-item nav-link active" href="{% url 'pending' %}">Pending Orders</a>
  </li>
  <li class="nav-item">
    <a class="nav-item nav-link" href="{% url 'history' %}">Order History</a>
  </li>
</ul>
<ul class="navbar-nav ml-auto">
  <li class="nav-item">
    <a class="nav-link" href="#">{{ user.first_name }}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'logout' %}">
      <span class="fa fa-sign-out"></span>
      Logout</a>
  </li>
</ul>
{% endif %}

{% endblock %}

{% block rightnav %} {% endblock %}

{% block content %}

{% if message %}
<div class="context-message">
  {{ message }}
</div>
{% endif %}

<table class="text-center">
  <tr class="topbottomspace">
    <th><h2>Checkout</h2></th>
  </tr>
</table>
<div class="table responsive">
  <table class="table table-bordered">
    <tbody>
    <tr>
      <td>
        <div class="container">
          {% if not cart %}
          <div class="row justify-content-center">
            Empty.
          </div>
          {% else %}
          <div class="row justify-content-center mt-3">
            <div class="col">
              {% for item in cart %}
              <div class="row justify-content-center">
                <div class="col col-8 col-sm-8 col-md-6 col-lg-5">
                  {{ item.category }}- {{ item.item }}
                  <ul class="list-unstyled mb-0" style="padding-left: 0.5em">
                    <li>{{ item.toppings }} {{ item.extras }}
                      {% if item.extras_price > 0 %}-
                      {{ item.extras_price }}
                      {% endif %}
                    </li>
                  </ul>
                </div>
                <div class="col-3 col-sm-3 col-md-2 col-lg-2 text-right">
                  {{ item.price }}
                </div>
              </div>
              {% endfor %}
              <div class="row justify-content-center">
                <div class="col col-8 col-sm-8 col-md-6 col-lg-5">
                </div>
                <div style="font-weight: bold" class="col-3 col-sm-3 col-md-2 col-lg-2 text-right">
                  Rs.{{ total }}
                </div>
              </div>
              {% if not paid %}
              <div class="row justify-content-center mt-4">
                <form action="{% url 'charge' %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-primary">Pay Now</button>
                </form>
              </div>
              {% endif %}
              {% if paid %}
              <div class="row justify-content-center mt-4">
                <form action="{% url 'place' %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-primary">Place Order</button>
                </form>
              </div>
              {% endif %}
              <div class="row justify-content-center mt-3">
                <form action="{% url 'emptycart' %}" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="orderid" value="{{ order.id }}"/>
                  <button type="submit" class="btn btn-danger btn-sm">Cancel</button>
                </form>
              </div>
              <div class="row mt-3 justify-content-center">
                <a href="{% url 'index' %}">Back to Menu</a>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>

{% endblock content %}